# Ignore the compiled Power BI files, as we track the source code
*.pbix
*.pbit

# Ignore Power BI Desktop internal cache/settings
.pbi/
*.json.artifact
*.user.json
**/cache.abf

# Ignore general system files
*.DS_Store
Thumbs.db